.App {
  text-align: left;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 80px;
  pointer-events: none;
}

.navigation-bar {
  background-color: #112e1d;
  padding-bottom: 10px;
  font-size: calc(30px);
  vertical-align: middle;
  color: white;

  
}

.navigation-sub {
  vertical-align: middle;
  display:flex;

}

.item {
  vertical-align: middle;
  padding-top: 20px;
  padding-left: 10px;
}

.content {
  padding-top: 20px;
}

.App-header {
  background-color: #112e1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

a {
  color: white;
}

