.Articles-link {
    color: navy;
  }
  
.Article-Card {
    background-color: #f9f9f9;
}

.Article-Box {
    padding-top: 20px;
}

.Article-h1 {
    text-decoration-line:underline;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
}

.Article-h3 {
    text-decoration-style: initial;
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
}