@font-face {
  font-family: "Roboto-Black";
  src:local("Roboto-Black"), url(./fonts/Roboto-Black.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src:local("Roboto-Medium"), url(./fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: normal;
}

h1 {
  font-family: Roboto-Black;
}

body {
  font-family: Roboto-Medium;
  background-color: #676770;
}

a {
  font-family: Roboto-Black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
