/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

@font-face {
  font-family: "Roboto-Black";
  src:local("Roboto-Black"), url(./fonts/Roboto-Black.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src:local("Roboto-Medium"), url(./fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: normal;
}

h1 {
  font-family: Roboto-Black;
}

body {
  font-family: Roboto-Medium
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
